.products {
    margin: 16rem auto 2rem auto;
    max-width: 80vw;
}

.products-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
}

@media screen and (max-width: 1290px) {
    .products-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

    .products-wrapper .product:last-child {
        display: none;
    }
    
}

@media screen and (max-width: 1120px) {
    .products-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 600px) {
    .products-wrapper {
        grid-template-columns: 1fr;
    }
    
}

.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.products-header .products-heading {
    font-size: 1.6rem;
    opacity: .7;
    font-weight: 600;
    color: white;
    opacity: .8;
}

.products-header-nav {
    display: flex;
}

.products-header-nav h4 {
    font-size: 1.2rem;
    color: white;
    opacity: .8;
}

.products-header .MuiSvgIcon-root {
    color: white;
    opacity: .8;
    font-size: 2rem;
}

.products-nav-right {
    position: absolute;
    right: -10px;
}

.products-nav-left {
    position: absolute;
    left: -10px;
}

@media screen and (max-width: 1120px) {
    .products-nav-right {
        display: none;
    }
    
    .products-nav-left {
        display: none;
    }
    
}

.products-nav-left .MuiSvgIcon-root, .products-nav-right .MuiSvgIcon-root {
    font-size: 2.4rem;
    background-color: var(--primary);
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}