.order-confirmed {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-wrapper {
    height: 100%;
}

.order-wrapper .name {
    color: white;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.order-wrapper .desc {
    color: white;
    font-size: 1.5rem;
    line-height: 1.8;
}


.order-wrapper .btn-shop {
    background-color: var(--primary);
    color: white;
    display: inline-block;
    margin-top: 2rem;
    padding: .9rem 1.2rem;
    font-size: 1.4rem;
    border: none;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.order-wrapper .btn-shop:hover {
    opacity: .9;
}