.checkout {
    padding: 8rem 2rem 3rem 2rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.checkout .customer-details {
    flex: 1;
}

.checkout .shipping {
    border: 1px solid lightgray;
    padding: 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}


/* Order */
.checkout .customer-order {
    background-color: white;
    flex: .7;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.checkout .customer-order .title {
    margin-bottom: 1rem;
    font-weight: 500;
}

.checkout .customer-order .order {
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--border);
}

.checkout .customer-order .order img {
    flex: .4;
    max-width: 100%;
    max-height: fit-content;
}

.checkout .order-info {
    flex: 1;
}

.checkout .order-info .item-name {
    font-weight: 500;
    font-size: 1.4rem;
}

.checkout .order-info .item-cost {
    font-weight: 600;
    font-size: 1.2rem;
}

.checkout .order-info .order-cta {
    display: inline-block;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.checkout .order-info .btn-cart-remove {
    cursor: pointer;
    border: none;
    background-color: var(--secondary);
    color: white;
    padding: .7rem 1rem;
    font-size: .9rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.checkout .order-info .btn-cart-remove:hover {
    opacity: .9;
}

.checkout .order-info .order-action {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.checkout .order-info .order-action .order-qty-add, .checkout .order-info .order-action .order-qty-deduct {
    background-color: var(--secondary);
    color: white;
    padding-left: 0.7rem;
    border: none;
    padding-right: 0.6rem;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
}

.checkout .order-info .order-action .order-qty-deduct {
    font-size: 1.6rem;
    padding-left: 0.7rem;
    padding-right: 0.6rem;
}

.checkout .order-info .order-action .order-qty {
    border-bottom: 1px solid lightgray;
    color: gray;
    font-size: 1.2rem;
    font-weight: 700;
}

.checkout .customer-order .order-total {
    background-color: var(--border);
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
}

.checkout .customer-order .order-total h4 {
    font-size: 1.4rem;
    font-weight: 600;
}
