.product {
    background-color: white;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: 4px 8px 16px var(--shadow);
    padding: 1rem;
    margin-bottom: 5rem;
    position: relative;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.product:hover {
    box-shadow: 6px 12px 24px var(--shadow);
}

.product .image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.product img {
    max-width: 100%;
    z-index: 1;
}

.product .image::after {
    content: "";
    background-color: var(--secondary);
    position: absolute;
    height: 140px;
    width: 140px;
    top: 4rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: .7;
}

.product-cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.product-cta a {
    cursor: pointer;
    padding: .3rem 1.2rem;
    font-size: 1.1rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.product-cta .btn-more {
    background-color: var(--primary);
    color: white;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.product-cta .btn-cart {
    background-color: var(--secondary);
    color: white;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.product-cta .btn-more:hover, .product-cta .btn-cart:hover {
    opacity: .9;
}

.product-cta .MuiSvgIcon-root {
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 0.3rem;
}

.product-info {
    margin-top: 1rem;
    text-align: center;
}

.product-info .name {
    color: var(--secondary);
    font-size: 1.2rem;
    font-weight: 600;
}

.product-info .price {
    font-weight: bold;
}