.footer {
    position: absolute;
    bottom: 0;
    color: var(--secondary);
    width: 100%;
    overflow-x: hidden;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-top: 1px solid var(--border);
    opacity: .7;
}

.footer .copyright {
    text-align: center;
    font-size: 1.2rem;
}