.search {
    flex: 1;
    position: relative;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.search input {
    width: 43%;
    border: none;
    font-size: 1rem;
    padding: .9rem;
    outline-width: 0;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.search .MuiSvgIcon-root {
    color: var(--primary);
    position: absolute;
    right: 57.5%;
    top: .6rem;
    font-size: 1.8rem;
}