.app-wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom: 3rem;
    overflow-x: hidden;
}

.app {
    overflow-x: hidden;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 900px;
    margin: auto;
}

