.app {
    overflow-x: hidden;
    position: relative;
}

.app-wrapper {
    padding-bottom: 5rem;
    min-height: 100vh;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
}

